* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background-color: transparent;
  }
}
body {
  // background-color: #00b4d8;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: 0.4s;
  .sky {
    height: 80vh;
    background-color: #00b4d8;
    position: relative;
    transition: 0.4s;
    .jump {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
    .play {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: rgba(128, 128, 128, 0.704);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        cursor: pointer;
        padding: 30px;
        &:nth-of-type(2) {
          height: 40vh;
        }
      }
      #gameOver {
        display: none;
        height: 30%;
      }
    }
    .cloud {
      width: 200vw;
      height: 150px;
      background-image: url(../img/cloud.svg);
      background-size: 50% auto;
      position: absolute;
      left: 0;
      bottom: -40px;
      animation-duration: 8s;
      transition: 0.4s;
      opacity: 1;
    }
    .pipe {
      height: 100%;
      position: relative;
      left: -90px;
      width: 90px;
      background-color: green;
    }
    .hole {
      background-color: #00b4d8;
      width: 90px;
      position: absolute;
      top: 100px;
      left: -100px;
      height: 200px;
      &::after,
      &::before {
        content: "";
        display: block;
        width: 98px;
        height: 40px;
        position: absolute;
        left: -6px;
        background-color: rgb(1, 99, 1);
        border: 2px solid rgb(3, 56, 3);
      }
      &::after {
        top: 100%;
      }
      &::before {
        top: -40px;
      }
    }
    .character {
      width: 60px;
      height: 42px;
      position: absolute;
      top: 0;
      left: 20px;
      img {
        width: 100%;
        height: 100%;
        transform: rotate(20deg);
        transition: 0.6s;
      }
    }
  }
  .ground {
    width: 200%;
    height: 20vh;
    background-image: url(../img/ground.svg);
    background-repeat: repeat;
    position: relative;
    left: 0;
  }
  @keyframes _move {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  @keyframes pipe_move {
    from {
      left: 100%;
    }
    to {
      left: -90px;
    }
  }
  .setting-box {
    background-color: #ddd894;
    padding: 30px;
    height: 350px;
    width: 100%;
    .changeBird {
      width: 150px;
      display: flex;
      align-items: center;
      img {
        width: 70px;
      }
      span {
        background-image: url(../img/settings.svg);
        background-size: 100% 100%;
        transform: rotate(90deg);
        width: 40px;
        height: 40px;
        opacity: 0.8;
        cursor: pointer;
      }
      .next {
        transform: rotate(-90deg);
      }
    }
    .buttons {
      padding: 30px 0;
      font-family: "VT323", monospace;
      text-transform: uppercase;
      font-size: 30px;
      color: rgb(34, 36, 34);
      > div {
        // border: 1px solid red;
        padding: 15px 0;
        display: flex;
        align-items: center;
        .button {
          width: 60px;
          height: 29px;
          background-color: rgb(34, 36, 34);
          position: relative;
          margin-right: 10px;
          cursor: pointer;
          transition: 0.4s;
          span {
            position: absolute;
            top: 3px;
            left: 3px;
            width: 23px;
            height: 23px;
            background-color: rgb(184, 184, 184);
            transition: 0.4s;
          }
        }
      }
    }
  }
  #setting {
    position: absolute;
    left: 30px;
    top: 88%;
    width: 5vw;
    object-fit: cover;
    cursor: pointer;
    transition: 0.4s;
    transform: rotate(180deg);
  }
}
.playAnimation {
  animation: 2.5s _move linear infinite;
}
.pipe_move {
  animation: 2.8s pipe_move linear infinite;
}
.displayNone {
  display: none !important;
}
.rotate {
  transform: rotate(360deg) !important;
}
.goTop {
  top: -350px !important;
}
.changebtn {
  left: 34px !important;
}
.activeBtn {
  background-color: #00b4d8 !important;
}
.changeSky {
  background-color: #011b20 !important;
}
.changeOp {
  opacity: 0.1 !important;
}
.rotateBird {
  transform: rotate(-20deg) !important;
}
.displayFlex {
  display: flex !important;
}
.stop {
  animation-play-state: paused !important;
}
.hypper_due {
  animation-duration: 2s !important;
}
