* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: transparent;
}

*::selection {
  background-color: transparent;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .sky {
  height: 80vh;
  background-color: #00b4d8;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .sky .jump {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

body .sky .play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(128, 128, 128, 0.704);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .sky .play img {
  cursor: pointer;
  padding: 30px;
}

body .sky .play img:nth-of-type(2) {
  height: 40vh;
}

body .sky .play #gameOver {
  display: none;
  height: 30%;
}

body .sky .cloud {
  width: 200vw;
  height: 150px;
  background-image: url(../img/cloud.svg);
  background-size: 50% auto;
  position: absolute;
  left: 0;
  bottom: -40px;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

body .sky .pipe {
  height: 100%;
  position: relative;
  left: -90px;
  width: 90px;
  background-color: green;
}

body .sky .hole {
  background-color: #00b4d8;
  width: 90px;
  position: absolute;
  top: 100px;
  left: -100px;
  height: 200px;
}

body .sky .hole::after, body .sky .hole::before {
  content: "";
  display: block;
  width: 98px;
  height: 40px;
  position: absolute;
  left: -6px;
  background-color: #016301;
  border: 2px solid #033803;
}

body .sky .hole::after {
  top: 100%;
}

body .sky .hole::before {
  top: -40px;
}

body .sky .character {
  width: 60px;
  height: 42px;
  position: absolute;
  top: 0;
  left: 20px;
}

body .sky .character img {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

body .ground {
  width: 200%;
  height: 20vh;
  background-image: url(../img/ground.svg);
  background-repeat: repeat;
  position: relative;
  left: 0;
}

@-webkit-keyframes _move {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes _move {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@-webkit-keyframes pipe_move {
  from {
    left: 100%;
  }
  to {
    left: -90px;
  }
}

@keyframes pipe_move {
  from {
    left: 100%;
  }
  to {
    left: -90px;
  }
}

body .setting-box {
  background-color: #ddd894;
  padding: 30px;
  height: 350px;
  width: 100%;
}

body .setting-box .changeBird {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .setting-box .changeBird img {
  width: 70px;
}

body .setting-box .changeBird span {
  background-image: url(../img/settings.svg);
  background-size: 100% 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 40px;
  height: 40px;
  opacity: 0.8;
  cursor: pointer;
}

body .setting-box .changeBird .next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body .setting-box .buttons {
  padding: 30px 0;
  font-family: "VT323", monospace;
  text-transform: uppercase;
  font-size: 30px;
  color: #222422;
}

body .setting-box .buttons > div {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .setting-box .buttons > div .button {
  width: 60px;
  height: 29px;
  background-color: #222422;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .setting-box .buttons > div .button span {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 23px;
  height: 23px;
  background-color: #b8b8b8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body #setting {
  position: absolute;
  left: 30px;
  top: 88%;
  width: 5vw;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.playAnimation {
  -webkit-animation: 2.5s _move linear infinite;
          animation: 2.5s _move linear infinite;
}

.pipe_move {
  -webkit-animation: 2.8s pipe_move linear infinite;
          animation: 2.8s pipe_move linear infinite;
}

.displayNone {
  display: none !important;
}

.rotate {
  -webkit-transform: rotate(360deg) !important;
          transform: rotate(360deg) !important;
}

.goTop {
  top: -350px !important;
}

.changebtn {
  left: 34px !important;
}

.activeBtn {
  background-color: #00b4d8 !important;
}

.changeSky {
  background-color: #011b20 !important;
}

.changeOp {
  opacity: 0.1 !important;
}

.rotateBird {
  -webkit-transform: rotate(-20deg) !important;
          transform: rotate(-20deg) !important;
}

.displayFlex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.stop {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

.hypper_due {
  -webkit-animation-duration: 2s !important;
          animation-duration: 2s !important;
}
/*# sourceMappingURL=style.css.map */